.t336__block {
    overflow: hidden;
    margin: 10px 10px 10px 3px
}

.t336__table {
    display: table;
    width: 300px;
    vertical-align: middle;
    background-color: #000;
    position: relative;
    overflow: hidden;
    height: 450px
}

.t336__bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.t336__cell:hover .t336__bg_animated, .t336__cell:focus .t336__bg_animated {
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04)
}

.t336__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.t336__overlay .t336__animation_fast{
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70)); 
}

.t336__show_hover .t336__overlay {
    opacity: 0
}

.t336__cell:hover .t336__overlay {
    opacity: .8
}

.t336__show_hover .t336__cell:hover .t336__overlay {
    opacity: 1
}

.t336__cell {
    display: table-cell;
    width: 100%;
    height: 100%
}

.t336__textwrapper {
    padding: 20px 40px;
    position: relative
}

.t336__show_hover .t336__textwrapper {
    opacity: 0
}

.t336__show_hover .t336__textwrapper.t336__textwrapper_animated {
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -webkit-transform: translateY(15%);
    -o-transform: translateY(15%);
    transform: translateY(15%)
}

.t336__show_hover .t336__cell:hover .t336__textwrapper {
    opacity: 1
}

.t336__cell:hover .t336__textwrapper_animated {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.t336__textwrapper__content {
    margin: 30px auto;
    position: relative;
    padding-bottom: 0px
}

.t336__text {
    color: #fff;
    margin-top: 30px
}

.t336__title {
    color: #ff6
}

.t336__img {
    width: 100%;
    max-width: 120px
}

.t336__animation_fast {
    -webkit-transition: all ease-in-out .25s;
    -moz-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s
}

.t336__animation_slow {
    -webkit-transition: all ease-in-out .45s;
    -moz-transition: all ease-in-out .45s;
    -o-transition: all ease-in-out .45s;
    transition: all ease-in-out .45s
}

.t336 .t-col_6, .t336 .t-col_7, .t336 .t-col_8, .t336 .t-col_9, .t336 .t-col_10, .t336 .t-col_11 {
    float: none;
    display: block;
    margin: 0 auto
}

.t336__button-container {
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0
}

.t336__button-container_show {
    opacity: 1
}

.t336__textwrapper__content {
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s
}

.t336__button-wrapper {
    display: inline-block;
    margin-top: 50px
}

.t336__submit {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border: 0 none;
    -webkit-appearance: none;
    background: none
}

.t336__submit .t-btn .t-btn_sm {
    color:#000000;
    background-color:#ffffff;
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
}

.t336__button-bottom .t336__textwrapper {
    position: static
}

.t336__button-bottom .t336__button-container {
    left: 40px;
    bottom: 40px;
    right: 40px;
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -webkit-transform: translateY(30%);
    -o-transform: translateY(30%);
    transform: translateY(30%)
}

    .t336__button-bottom .t336__button-container.t336__button-container_show {
        left: 40px;
        bottom: 40px;
        right: 40px;
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

@media screen and (max-width: 960px) {
    .t336__table {
        height: 400px
    }
}

.infobox {
    border: 1px solid #a2a9b1;
    background: #f8f9fa;
    margin-bottom: .5em;
    margin-left: 1em;
    padding: .4em;
    float: right;
    clear: right;
    font-size: 88%;
    width: 23em;
    vertical-align: middle;
    text-align: left;
    line-height: 1.5em;
    border-collapse: separate;
    border-spacing: 2px;
    height: 26em
}

.header {
    text-align: center;
    font-size: 125%;
    background: #b0bec5;
    color: white;
}
.headerImage {
    text-align: center;
}

.infobox td, .infobox th {
    vertical-align: top;
    color: black
}

.infobox tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.infobox img {
    width: 200px;
    height: 300px
}

.infobox btn {
    text-align: center
}

@-webkit-keyframes jello {
    from, 11.1%, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

@keyframes jello {
    from, 11.1%, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.blockquote-reverse {
    text-align:center;
    background: white;
    border: 1px solid grey;
    opacity: .7;
    color: black
}

.jello{
    font-size: 20px
}

.jello-main {
    font-size: 16px;
    font-weight: bolder
}

.jello:hover {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.btn {
    background: #90a4ae;
    border-color: white
}

.btn:hover{
    background-color: #eceff1;
    border-color: black
}